
<%- include ('include/_header') %> 

    <h1 class="text-center movieNameh1">Search Result <span><%= searchQuery.toUpperCase() %> </span></h1>
    <a class="nav-link" href="/">Back to Search Page</a>
    <% data["results"].forEach(movie => { %>
     
        <div class="card mx-3 " style="padding:5rem;">
            <div class="row no-gutters">
                <div class="col-md-4 myborder">
                    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2<%= movie.poster_path%>" alt="" class="card-img img-fluid">
                </div>
                <div class="col-md-8 myborder" >
                    <div class="card-body">
                        <h2 class="card-title"><%= movie.original_title %> </h2>
                        <hr>
                        <p class="card-text"><%= movie.overview %>  </p>
                        <hr>
                        <p class="card-text"><strong>Date published : </strong><%= movie.release_date %> </p>
                        <p class="card-text"><strong>Total votes : </strong><%= movie.vote_count %> </p>
                        <p class="card-text"><strong>Average Rating : </strong><%= movie.vote_average %> </p>
    
                    </div>
                </div>
            </div>
        </div>


    <% }) %>




<%- include ('include/_footer.ejs') %> 